// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dropdown {

    display: inline-block;
}

.dropdown-menu{
    display: inline-block;

}

.nav-navbar-nav {
    display: inline-block;
}

.form-group {
  background-color: red;
}