* main { 
font-family: 'Quicksand', sans-serif;
}


.form-group {
    text-align: left;
    font-size: 15px;
    font-weight: 100px;
    max-width: 400px;
    margin: 0 auto;   
}

.solo {
    background-image: url("triabgle.jpeg");
    background-position: center;
    max-width: 100%;
    height: auto; 
}

.profile {
  background-size: 20.3%;
  float: left;
}

.navstyle {
  background-color: black;
}

.alert-message {
  font-weight: bold;
}